:root {
  --font-size: 35px;
  --text-color:#CF7583;
  --bg-color: #E4DFDE;
  --animation-duration: 0.8s;
  --animation-delay: 0.5s;
}

body {
  font-size: var(--font-size);
  font-family: 'Piazzolla', serif;
  text-align: center;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.pokemon-list-main {
  line-height: 30px;
}

.animate__tada {
  animation-duration: var(--animation-duration);
  animation-delay: var(--animation-delay);
}

/* set the styling for the default display of the button */
.button-class-pokemonName {
  background-color: #C70039;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition: 0.2s opacity;
  -o-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

button:hover,
button:focus,
.button-class-pokemonName:hover,
.button-class-pokemonName:focus {
  cursor: pointer;
  opacity: 0.8;
}

ul {
  list-style-type: none;
}

/* setting the font size of the text to change the size of the button when viewed on a tab/pad */
@media only screen and (min-width : 768px) and (max-width : 1024px){
  .button-class-pokemonName {
    font-size: 30px;
  }
  p {
    margin-left: 20px;
    margin-right: 20px;
  }

  .modal{
    max-width: 760px;
    font-size: 20px;
  }

}

/* setting the button size when viewed on a phone */
@media only screen and (max-width: 500px){
  .button-class-pokemonName {
    font-size: 20px;
  }
  p {
    margin-left: 20px;
    margin-right: 20px;
  }

  .modal{
    max-width: 500px;
    font-size: 15px;
  }

}


.hidden {
  display: none;
}

#modal-container {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

  /* to show it above other content */
  z-index: 999;

  /* to allow scrolling if the screen is not high enough*/
  overflow: auto;

  /* this is used to center the modal */
  display: none;
  text-align: center;
}

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 15px;
  width: 100%;
  max-width: 700px;
  text-align: left;
  font-size: 20px;
}

.modal-close {
  float: right;
  -webkit-appearance: none;
  border: 0;
  background: none;
  color: #777;
  text-decoration: underline;
}

#modal-container.is-visible {
  display: block;
  position: fixed;
  padding: 25px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 999;
  overflow: auto;
  background: rgba(0, 0, 0, 0.5);
}
