:root {
  --font-size: 35px;
  --text-color:#CF7583;
  --bg-color: #E4DFDE;
  --animation-duration: 0.8s;
  --animation-delay: 0.5s;
}

body {
  font-size: var(--font-size);
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  /* background-color: var(--bg-color); */
  /* color: var(--text-color); */
}

p{
  margin-top: 30px;
}

.details-about {
  margin: 25px;
}

.pokemon-list-main {
  line-height: 30px;
}

.animate__tada {
  animation-duration: var(--animation-duration);
  animation-delay: var(--animation-delay);
}

/* set the styling for the default display of the button */
.button-class-pokemonName {
  padding: 16px 32px;
  font-size: 25px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition: 0.2s opacity;
  -o-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

button:hover,
button:focus,
.button-class-pokemonName:hover,
.button-class-pokemonName:focus {
  cursor: pointer;
  opacity: 0.8;
}

ul {
  list-style-type: none;
  margin: 15px;
}

.hidden {
  display: none;
}

h1 {
  font-size: var(--font-size);
  color: #871A2B; 
}

.modal-body {
  font-size: var(--font-size);
  color: #3A4253;
}

.img-responsive {
  width: 50%;
  height: auto;
  max-width: 100%;
}
